<div class="contenedor">
    
<div class="container-fluid contenedor-general">
    <span></span>
    <span></span>
    <div class="row row-nombre">
       
        <div class="col col-saludo">
            <p>Hola 👋 soy </p>
        </div>

        <div class="col col-nombre">
            <h1>Nicolás<br>Arcamone</h1>
        </div>

        <div class="col col-bajo-nombre">
            <p>Desarrollador Full stack trainee y estudiante de Licenciatura en Informatica</p>
        </div>

        <div class="col col-btn-download">
            <a  href="../../assets/Nicolas Arcamone - Cv (1).pdf.pdf" download="curriculum vitae"  class="btn btn-primary" >Descargar Cv <i class="bi bi-download"></i></a> 
            <button class="btn btn-primary contacto">Contactame  <i class="bi bi-envelope"></i></button>
        </div>

    </div>

   

    <div class="row row-sobre-mi">
        
        <div class="col-xl-3 img-perfil">
            <img src="../../assets/mi-foto_300x400.jpeg" alt="">
        </div>
        

        <div class="col-xl col-detalle-mi">
             <h3>Sobre mí</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut molestias nulla ducimus, voluptate inventore libero vel unde similique iure? Ratione ut numquam placeat minus repellendus velit modi explicabo eius quam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut molestias nulla ducimus, voluptate inventore libero vel unde similique iure? Ratione ut numquam placeat minus repellendus velit modi explicabo eius quam.
            </p>
            <p>No dudes en contactarme</p>
        </div>
    </div>


    <div class="row row-stack">

        <div class="col-xl-3 col-front">
            <div class="titulo">
                <h2>Frontend <i class="bi bi-code-slash"></i></h2> 
            </div>

            <div class="row row-lenguaje">
                <div class="col-xl-3 col-stack">
                    <p>Javascript</p>
                </div>

                <div class="col-xl-3 col-stack">
                    <p>Css</p>
                </div>
                <div class="col-xl-3 col-stack">
                    <p>Html</p>
                </div>
                <div class="col-xl-4 col-stack">
                    <p>Angular</p>
                </div>
            </div>

        </div>

        <div class="col-xl-3 col-backend">
            <div class="titulo">
                <h2>Backend <i class="bi bi-hdd-stack"></i></h2>
            </div>

            <div class="row row-lenguaje">
                <div class="col-xl-4 col-stack">
                    <p>Nest Js</p>
                </div>

                <div class="col-xl-4 col-stack">
                    <p>Node Js</p>
                </div>
                <div class="col-xl-4 col-stack">
                    <p>Java</p>
                </div>
                <div class="col-xl-4 col-stack">
                    <p>Typescript</p>
                </div>
                <div class="col-xl-4 col-stack">
                    <p>MySql</p>
                </div>
            </div>
            
        </div>

        <div class="col-xl-3 col-herramientas">
            <div class="titulo">
                <h2>Herramientas <i class="bi bi-gear"></i></h2>
            </div>

            <div class="row row-lenguaje">
                <div class="col-xl-4 col-stack">
                    <p>GitHub</p>
                </div>

                <div class="col-xl-4 col-stack">
                    <p>Postman</p>
                </div>
                <div class="col-xl-4 col-stack">
                    <p>Vs Code</p>
                </div>
            </div>

        </div>

    </div>



    <div class="row row-proyectos">
        <div class="col col-titulo-proyecto">
            <p>Estos son algunos Proyectos</p>
        </div>


        <!-- col proyecto -->
        <div class="col col-proyectos">
            <div class="row row-primer-proyecto">
                    <div class="col col-video">
                        <video width="440" height="300" controls>
                            <source src="../../assets/2024-05-22-14-06-25.mp4" type="video/mp4">
                        </video>
                    </div>

                    <div class="col col-detalle">
                        <h1>Bookstore v1</h1>
                        <p>Descripcion del proyecto: 
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem omnis ea at rerum debitis praesentium error pariatur a dolore sequi, natus modi et reprehenderit dicta vel aspernatur cupiditate recusandae sit?
                        </p>
                        <p><i class="bi bi-github"></i></p>                       
                    </div>
            </div>


            <div class="row row-primer-proyecto">
                <div class="col col-detalle">
                    <h1>MarketPelis</h1>
                    <p>Descripcion del proyecto: 
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur voluptas asperiores provident laboriosam ullam aut aliquid accusantium libero dolore veniam, deserunt quaerat delectus nobis molestiae, sunt distinctio, praesentium placeat doloribus!
                    </p>
                    <p><i class="bi bi-github"></i></p>                       
                </div>

                <div class="col col-video">
                    <video width="440" height="300" controls>
                        <source src="../../assets/2024-05-22-14-06-25.mp4" type="video/mp4">
                    </video>
                </div>
            </div>

        </div>



    </div>



    <div class="row row-contacto">
        <div class="col col-icon">
            <a href="https://www.linkedin.com/in/nicolas-arcamone" target="_blank"> 
                <i class="bi bi-linkedin"></i> 
            </a> 
        </div>

        <div class="col col-icon">
            <a href=""> <i class="bi bi-envelope"></i></a>
        </div>

    </div>





</div>
</div>
